
:root {
    --red-color: #FF0000;
    --som-blue: #4343f9;
    --dark-blue: #0000B4;
    --light-blue: #6262fb;
    --light-green: #04E60D;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter Regular Regular", sans-serif;
}
header {
    background-image: url('./assets/Untitled-1 1.png'); 
    background-size: cover;
    background-repeat: repeat-y; 
    background-position: center; 
    height: auto;
    width: 100%;
    overflow: hidden;
}

.text-red{
    color: var(--red-color);
}

.form-margin{
    margin-top: 1.1em;
    margin-right: 0;
    margin-left: 0;
    display: block;
}

.form-padding{
    padding: 0.8em 1.2em;
}

.mt-1{
    margin-top: 2em !important;
}

.mt-2{
    margin-top: 4em !important;
}


.mt-3{
    margin-top: 6em !important;
}

.mt-4{
    margin-top: 8em !important;
}

.mt-5{
    margin-top: 10em !important;
}

.wrapper {
    max-height: 1000px;
    margin: 0;  
}

nav {
    display: flex;
    background: #FFFFFFD9;
    height: 89px;
    width: 100%;
    box-shadow: 0px 4px 20px 0px #0000001A;
   
}

nav .logo {
    width: 133px;
    height: 61px;
    margin-top: 14px;
    margin-left: 133px;
}

nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
    font-family: Inter Regular;
    font-size: 19px;
    font-weight: 500;
    height: 23px;
    margin-top: 33px; 
    margin-left: auto;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    font-family: Inter Regular;
    font-size: 18px;
    font-weight: 500;
    color: #111;
}

nav ul li a:hover{
    color: #fff;
}

.btn-li {
    width: 207px;
    height: 55px;
    padding: 10px 32px;
    border-radius: 18px;
    background-color: #0000B4;
    color: #ffffff;
    font-family: Inter Bold;
    font-size: 18px;
    font-weight: 800;
    line-height: 29.05px;
    text-align: center;
}

.left {
    position: relative;
    width: 650px;
    height: 493px;
        overflow-y: scroll;
    margin-top: 80px;
    margin-left: 115px;
    background-image: url("./assets/Rectangle 1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    
}


.left h1 {
    font-family: Inter Bold;
    font-size: 54px;
    font-weight: 800;
    text-align: left;
    line-height: 50px;
    color: #111;
    padding-top: 30px;
    margin-left: 70px;
}

.left h1 .highlight {
    color: #0000B4
}

.left p {
    font-family:  "Inter Regular", sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-left: 70px;
    margin-top: -10px;
    padding-bottom: 15px;
    color: #111;
}

.left a { 
    width: 207px;
    height: 55px;
    padding: 16px 32px;
    border-radius: 18px;
    background-color: #0000B4;
    color: #FFFFFF; 
    margin-left: 70px;
    text-decoration: none; 
    font-family: Inter Bold;
    font-size: 20px;
    font-weight: 800;
    line-height: 29.05px;
    text-align: center;

}

.bottom {
    display: inline-flex; 
    margin-top: -20px;
    gap: 10px;
    margin-left: 100px;
}

.item {
    font-size: 30px; 
    line-height: 1; 
    display: flex; 
    align-items: center; 
    
}

.item .subtext {
    display: inline-block;
}

.item .subtext p {
    margin: 0;
    font-size: 14px;
    line-height: 15px;
    margin-top: 3px;
    color: #FFFFFF;
}

.logo-container {
    display: flex; 
    margin-left: 40px;
}

.Partners {
    font-family: Inter Regular;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #FFFFFF;
    margin-top: 35px;
    margin-left: 50px;
}

.logo-container .saphire {
    margin-top: 10px;
}

.logo-container .Princeps {
    margin-top: 5px;
}


.logo-container img {
    margin: 0 5px; 
}
strong {
    font-family: Inter Bold;
    font-size: 36px;
    font-weight: 800;
    text-align: left;
    line-height: 50px;
    color: #FFFFFF;
    margin-right: 5px;
}

/* End of Header Section */

/* Beginning of Loan Amount Section */
/* 
section {
    overflow: hidden;

} */

.contain {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    margin-left:120px;
}

.contain .left2 {
    width: 1000px; 
    height: 100vh;
        overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-left: -30px;

    
}



.image1 {
    width: 550px;
    height: 110vh; 
    margin-top: -14px;
    margin-left: 80px;
    gap: 0px;
    

    background-image: url('./assets/7xm 1.png');
    background-size: cover;
    background-position: right ;
}

.logo1 {
    width: 116px;
    display: flex;
    justify-content:center
    
}

.icons {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
    align-items: end;
    margin-bottom: 10px;
}

.icons > div {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-right: 10px;
}

.icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    background-color:  #7777f9;
    border-radius: 50%; 
}

.icons div.active a{
    width: 60px;
    height: 60px;
    background-color:  #0000B4;
}

.icons a img {
    width: 30px; 
    height: 30px; 
}

.icons p {
    margin: 0; 
    font-family: Inter Regular;
    font-size: 7px;
    font-weight: 500;
    line-height: 23.87px;
    text-align: center;

}

.red {
    font-family: Inter Bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.87px;
    text-align: center;
    color: #0000B4;
    margin-top: 10px;

}

#money {
    width: 490px; 
    border-radius: 10px; 
    text-align: left;
     /*#money is id for the form  */

}

#money input[type="text"],
select {
    border-radius: 12px;
    border: none; 
    outline: none;
    background-color: #F5F7FA;
}

.apply-form{
    width: 490px;
}

.apply-form input, .apply-form select{
    width: 100%;
}

#money p {
    font-family: Inter Regular;
    font-size: 10px;
    font-weight: 400;
    line-height: 19.89px;
    text-align: left;
}


#money p a {
    color: #4343f9;
    text-decoration: none;
}
input[type="checkbox"] + label {
    font-family: Inter Regular;
    font-size: 10px;
    font-weight: 400;
    line-height: 19.89px;
    text-align: left;

}

form button[type="submit"] {
    background-color: #0000B4; 
    width: 200px;
    height: 49px;
    color: white; 
    padding: px;
    border: none; 
    border-radius: 15px;
    margin-left: 30px; 
    
    font-family: Inter Bold;
    font-size: 18px;
    font-weight: 800;
    line-height: 29.05px;
    text-align: center;
    cursor: pointer; 
    animation-timing-function: ease-in-out;
    animation-duration: 300ms;

}

/* form button[type="submit"]:hover {
    background-color: #36b9fa;
    color: #000000; 
} */

.prev {
    background-color: #FFFFFF; 
    width: 182px;
    height: 49px;
    margin-right: 25px;
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 8px 20px; 
    border: solid 1px; 
    border-radius: 15px; 
    cursor: pointer; 
    font-family: Inter Bold;
    font-size: 18px;
    font-weight: 800;
    line-height: 29.05px;
    text-align: center;
    text-decoration: none;
}

/* .prev:hover {
    background-color: #053850;
    color: #ffffff;  
} */

  /* End of Amount Section */

.contain2 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    margin-left: 75px;
}

.contain2 .left3 {
    width: 1000px; 
    height: 100vh;
    display: flex;
        overflow-y: scroll;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-right: 10px;
    
}

.contain2 .image2 {
    width: 634px;
    height: 120vh; 
    margin-top: -14px;
    margin-left: 0px;
    gap: 0px;

    background-image: url('./assets/Mask group.png');
    background-size: contain;
    background-repeat: repeat-y;
    background-position: top;
}

.logo2 {
    width: 116px;
    display: flex;
    justify-content:center
    
}

.two {
    width: 360px;
    display: flex;
    gap: 10px;
}



.amount1 {
    width: 190px;
    height: 190px;
    margin-top: 10px;
    margin-left: -50px;
    background-color: #4343f90A;
    border-radius: 16px;
    padding: 20px 20px 30px 30px;
}

.amount1 > span {
    font-family: Inter Regular;
    font-size: 12px;
    font-weight: 500;
    line-height: 2px;
    text-align: left;
    display: block;

}

.amount1 p {
    font-family: Inter Bold;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    margin-top: 8px;
}

.green {
    color: #04E60D;
}

.interest {
    width: 190px;
    height: 190px;
    margin-top: 10px;
    
    background-color: #4343f90A;
    border-radius: 16px;
    padding: 20px 30px 30px 20px;
    }

.interest > span {
    font-family: Inter Regular;
    font-size: 12px;
    font-weight: 500;
    line-height: 2px;
    text-align: right;
    display: block;
    /* margin-left: 42px; */
}
    
.interest p {
    font-family: Inter Bold;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
    margin-top: 8px;
    }

.term {
    width: 394px;
    height: 156px;
    top: 483px;
    margin-left: -50px;

    font-family: Inter Regular;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}


.term a {
    color: #4343f9;
    text-decoration: none;
}

.input {
    display: flex;
    align-items: center;
    margin-left: -200px;
}


input[type="checkbox"] + label {
    font-family: Inter Regular;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    text-align: left;
    margin-right: 5px;
}

.small-label{
    font-size: 10px;
    text-align: right;
    
}

.consent{
    font-family: Inter Regular;
    font-size: 12px;
    font-weight: 400;
    line-height: 8px;
    text-align: left;
    margin-right: 5px; 
}

#consent, #consent2{
    width: auto;
}

.bit {
    margin-top: 15px;
    display: inline-flex;
    margin-left: -70px;
}

.bit .prev {
    margin-right: 10px;
    border-radius: 20px;
}

.Next {
    background-color: #0000B4; 
    width: 182px;
    height: 49px;
    /* margin-right: px; */
    color: rgb(255, 255, 255);
    padding: 8px 20px; 
    border: solid 1px; 
    border-radius: 15px; 
    cursor: pointer; 
    font-family: Inter Bold;
    font-size: 18px;
    font-weight: 800;
    line-height: 29.05px;
    text-align: center;
    text-decoration: none;
}

/* .Next:hover {
    background-color: #36b9fa;
    color: #000000; 
} */

/* -----------------------------------------------------
End of Loan Breakdown Styling */


.cont1 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    margin-left: 90px;
}

.cont1 .left3 {
    width: 1000px; 
    height: 100vh;
    /* display: flex; */
    margin: 0 auto;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-right: 30px;
    margin-left: -35px;
}

.cont1 .image3 {
    width: 634px;
    height: 110vh; 
    margin-top: -14px;
    
    gap: 0px;

    background-image: url('./assets/Mask group.png');
    background-size: cover;
    background-position: leftt;
}

.logo2 {
    
    display: flex;
    justify-content:center
    
}
.info {
    width: 490px; 
    border-radius: 10px; 
    text-align: left;
    margin-left: 100px;

}

.info input[type="text"],
.info input[type="number"],
.info input[type="date"],
.info select {
    /* width: 360px;  */
    display: block;
    width: 100%;
    height: 38px;
    border-radius: 12px;
    border: none; 
    outline: none;
    background-color: #F5F7FA;
    padding: 10px;
    margin-bottom: 10px;
}

.info input[type="date"]{
    height: 38px;
    border-radius: 12px;
    border: none; 
    outline: none;
    background-color: #F5F7FA;
    padding: 10px;
    margin-bottom: 10px;
}



.info label {
    font-family: Inter Regular;
    font-size: 15.91px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;

}

.info .bit {
    margin-left: 2px;
    width: 360px;
}

/* -------------------------------------------------
-----End of Personal Info*/

.cont2 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    margin-left: 76px;
}

.cont2 .left3 {
    width: 1000px; 
    height: 100vh;
    display: flex;
        overflow-y: scroll;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-right: 30px;
    margin-left: -35px;
    
}

.cont2 .image4 {
    width: 650px; /* Set the desired width */
    height: 120vh; 
    background-image: url("./assets/7xm 1.png");
    background-size: cover;
    background-position: center;
    margin-top: -50px;
    margin-left: px;
    gap: 0px;
    /* border: 1px solid; */

    background-image: url('./assets/7xm 1.png');
    background-size: cover;
    background-position: top;
}

.logo3 {
    width: 116px;
    display: flex;
    justify-content:center
    
}

.info2 {
    width: 490px; 
    border-radius: 10px; 
    text-align: left;
    margin-left: 100px;
    margin-top: 10px;

}

.info2 input[type="text"] {
    width: 360px; 
    height: 38px;
    border-radius: 12px;
    border: none; 
    outline: none;
    background-color: #F5F7FA;
    padding: 10px;
    margin-bottom: 10px;
}

.info2 select {
    width: 360px; 
    height: 38px;
    border-radius: 12px;
    border: none; 
    outline: none;
    background-color: #F5F7FA;
    padding: 10px;
    margin-bottom: 10px;
}

.info2 input[type="email"] {
    width: 360px; 
    height: 38px;
    border-radius: 12px;
    border: none; 
    outline: none;
    background-color: #F5F7FA;
    padding: 10px;
    margin-bottom: 10px;
}

.info2 input[type="tel"] {
    width: 360px; 
    height: 38px;
    border-radius: 12px;
    border: none; 
    outline: none;
    background-color: #F5F7FA;
    padding: 10px;
    margin-bottom: 10px;
}

#myCity {
    margin-bottom: 0px;
}


.info2 label {
    font-family: Inter Regular;
    font-size: 15.91px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;

}

.info2 small {
    font-family: Inter Regular;
    font-size: 9px;
    font-weight: 400;
    text-align: left;
    color: #0000B4;

}

.info2 .bit {
    margin-left: 2px;
    width: 360px;
}

/* -----------------------------------------------------------
------------End of contact information */

.cont3 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    margin-left: 76px;
}

.cont3 .left4 {
    width: 1000px; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-right: 30px;
    margin-left: -35px;
    
}

.cont3 .image5 {
    width: 650px; 
    height: 120vh; 
  
    margin-top: -50px;
    margin-left: px;
    gap: 0px;

    background-image: url('./assets/7xm 1.png');
    background-size: cover;
    background-position: top;
}

.logo4 {
    width: 116px;
    display: flex;
    justify-content:center
    
}

.info3 {
    width: 490px; 
    border-radius: 10px; 
    text-align: left;
    margin-left: 100px;
    margin-top: 10px;

}

.info3 input[type="text"] {
    width: 360px; 
    height: 38px;
    border-radius: 12px;
    border: none; 
    outline: none;
    background-color: #F5F7FA;
    padding: 10px;
    margin-bottom: 10px;
}

.info3 input[type="file"] {
    width: 360px; 
    height: 38px;
    border-radius: 12px;
    border: none; 
    outline: none;
    background-color: #F5F7FA;
    padding: 10px;
    margin-bottom: 10px;
}

.info3 select {
    width: 360px; 
    height: 38px;
    border-radius: 12px;
    border: none; 
    outline: none;
    background-color: #F5F7FA;
    padding: 10px;
    margin-bottom: 10px;
}

.info3 input[type="number"] {
    width: 360px; 
    height: 38px;
    border-radius: 12px;
    border: none; 
    outline: none;
    background-color: #F5F7FA;
    padding: 10px;
    margin-bottom: 10px;
}


#bank-account{
    margin-bottom: 0px;
}


.info3 label {
    font-family: Inter Regular;
    font-size: 15.91px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;

}

.info3 small {
    font-family: Inter Regular;
    font-size: 9px;
    font-weight: 400;
    text-align: left;
    color: #FF0000;

}

.info3 .bit {
    margin-left: 2px;
    width: 360px;
}

/* -----------------------------------------------------------
------------End of Employment information */

.cont4 {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-left: 0px;
}

.cont4 .left5 {
    width: 1000px; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
}

.cont4 .image6 {
    width: 600px; 
    height: 120vh; 
    margin-top: -50px;
    margin-left: 130px;
    gap: 0px;

    background-image: url("./assets/credit-flex-logo.png");
    background-size: cover;
    background-position: top;
}

.logo5 {
    width: 116px;
    display: flex;
    justify-content:center
    
}

.congratulations {

    width: 490px; 
    border-radius: 10px; 
    text-align: center;
    margin-top: 10px;
}

.congratulations h3 {
    font-family: Inter Regular;
    font-size: 30.35px;
    font-weight: 600;
    line-height: 45.53px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #0000B4;
    ;

}

.congratulations p {
    font-family: Inter Regular;
    font-size: 15.35px;
    font-weight: 500;
    line-height: 23.03px;
    letter-spacing: 0.03em;
    text-align: center;

}

.thank {
    background-color: #0000B4; 
    width: 386px;
    height: 49px;
    margin-right: px;
    color: rgb(255, 255, 255);
    padding: 10px 20px; 
    border: solid 1px; 
    border-radius: 20px; 
    cursor: pointer; 
    font-family: Inter Bold;
    font-size: 20px;
    font-weight: 800;
    line-height: 25.41px;
    text-align: center;

}


.bottom-row{
    display: flex;
}

.bottom2{
    display: flex;
}

/* responsive styling */

@media screen and (max-width:700px) {
    nav ul{
        display: none;
    }

    .left{
        background: none;

    }

    .bottom{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .left h1 {
        color: white;
    }

    .left{
        margin-left: -50px;
        width: 100%;
        text-align: center;
    }

    .left h1{
        text-align: center;
        line-height: 60px;
    }

    .bottom{
        margin-left: 20px;
    }

    
.Partners {
    display: block;
}

nav .logo {
    margin-left: 30px;
}

.bottom-row{
    display: block;
}

.bottom2{
    display: block;
}
}

@media screen and (max-width:450px) {
    .bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo-container{
        display: block;
    }

    .logo-container>img{
        display: block;
        width: 50%;
    }

    .left h1 {
        font-size: 40px;
    }

    .left p{
        text-align: center;
    }

    

}

